{% extends 'base.html' %}
{% block title %}
    Create A New Blog Category
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Add Category...</h1>
        <br><br>
        <div class='form-group'>
            <form method="POST">
        {% comment %} Je pense que ces commandes Django permettent d'importer les classes du 'models.py' {% endcomment %} 
                {% csrf_token %}
                {{ form.as_p }} {% comment %} Positionne les elements du formulaire comme une balise choisie. ici c'est <p>{% endcomment %}
                <button class="btn btn-success">Add Category</button>
                <br><br>
        </div>

    {% else %}
        You're not allowed here! (and you know it...)

    {% endif %}


{% endblock %}