{% extends 'base.html' %}

{% comment %} Definition du titre de la page, pour qu'elle soit pareil au titre du Poste {% endcomment %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% comment %} C'est le meme 'post' declare dans la page home.html qui est utilise ici  {% endcomment %}

{% block content %}

    <h1> {{ post.title }} </h1>
    <small>By : {{ post.author.first_name }} {{ post.author.last_name }}</small><br>
    <hr>
    <br>
    {{ post.body }}

    <br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}