{% extends 'base.html' %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}

    <h1>Edit Profile...</h1>
    <br><br>
    {% comment %} Apparition de la bio de l'utilisateur sur la page {% endcomment %}
    {{ user.profile.bio }}
    <br><br>
    <div class='form-group'>
        <form method="POST">
    {% comment %} Je pense que ces commandes Django permettent d'importer les classes du 'models.py' {% endcomment %} 
            {% csrf_token %}
            {{ form.as_p }} {% comment %} Positionne les elements du formulaire comme une balise choisis. ici c'est <p>{% endcomment %}
            <button class="btn btn-secondary">Update Profile</button>
    </div>

{% endblock %}